<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Travel Website</title>
</head>

<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <a>
                <span><h3>Travewire</h3></span>
            </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Travel sites</a></li>
                <li><a href="#">About</a></li>
                <li><a href="views/login">Login</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <form action="#" method="get">
                <input class="form-input" type="text" name="query" placeholder="place Search">
                <button class="btn">Search</button>
            </form>

        </div>

    </nav>


    <div class="travelsite max-width-1 m-auto font2">
        <h2>Famous Travel Sites</h2>
       
        <div class="blog-post">
            <div class="blog-post-img">
                <img src="media/boudhanath.webp" alt="blog">
            </div>
            <div class="blog-post-content font1">
                <a href="/blogpost.html">
                    <h3>Boudhanath: Wonder of Nepal</h3>
                </a>

                <div>location</div>
                <span>07 January 2021</span>
            </div>
        </div>
        <div class="blog-post">
            <div class="blog-post-img">
                <img src="media/bkt.webp" alt="blog">
            </div>
            <div class="blog-post-content font1">
                <a href="/blogpost.html">
                    <h3>Bhaktapur Durbar Square</h3>
                </a>

                <div>location</div>
                <span>22 January 2021</span>
            </div>
        </div>
        <div class="blog-post">
            <div class="blog-post-img">
                <img src="media/mt.everest.jpg" alt="blog">
            </div>
            <div class="blog-post-content font1">
                <a href="/blogpost.html">
                    <h3>Mt.Everest: Rise High Above All</h3>
                </a>

                <div>location</div>
                <span>07 January 2021</span>
            </div>
        </div>
      
    </div>

    
</body>

</html>
